body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.5rem;
  margin: 0 0 50px 0;
}
h2 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.update-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}
.top-banner {
  background-image: url(./donate-today-main/images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 5px 5px 5px rgb(31, 30, 30);
  color: white;
}
.btn-primary {
  color: whitesmoke;
  background-color: orangered;
  font-size: 25px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  padding: 15px 25px;
}

.price-container {
  background-color: #fafafa;
  height: 200px;
  width: 200px;
  margin: 40px;
  color: #707070;
  border-radius: 10px;
}
#regular-price {
  color: #ff5959;
  background-color: #ffeeee;
  border: 3px solid #ff5959;
  border-radius: 10px;
}
#customized-input-field {
  height: 40px;
  border: none;
  width: 800px;
  border-bottom: 2px solid #707070;
  text-align: center;
}
.plan-container {
  background-color: #fafafa;
  text-align: left;
  height: 400px;
  width: 400px;
  margin: 40px;

  border-radius: 10px;
}
#food-bg {
  background-color: #4f9da66d;
}
#shelter-bg {
  background-color: #ff595967;
}
#edu-bg {
  background-color: #fff4d6;
}

.single-area {
  margin-inline: auto;
  text-align: center;
  width: 25%;
  border-radius: 20px;
  background-color: gainsboro;
}
.single-area img {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
}

.container-img {
  position: relative;
}
.flooded-area-section {
  background-color: gainsboro;
  padding-bottom: 150px;
  padding-top: 70px;
}

.planning-next-year {
  margin-top: 100px;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover .image {
  opacity: 0.3;
}

.container-img:hover .middle {
  opacity: 1;
}

.text {
  background-color: orangered;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 32px;
}

.plan-details {
  margin: 0 20px;
}
.plan-details img {
  margin: 9% 20px;
}
.half-width {
  width: 50%;
  text-align: left;
  margin-left: 10%;
}
#email-input {
  height: 66px;
  background-color: rgba(119, 136, 153, 0.388);
  border: none;
  margin: 0;
  padding-right: 0;
  width: 400px;
  padding-left: 20px;
}
#subscribe-btn {
  margin-left: 0;
  border-radius: 0;
  height: 66px;
}
.input-container {
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  border-radius: 20px;
}
.input-container {
  border-radius: 20px;
}
#speacial {
  border: 1px solid gray;
  border-radius: 5px;
  height: 66px;
}
.footer {
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
