body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.5rem;
  margin: 0 0 50px 0;
}
h2 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.top-banner {
  background-image: url(./donate-today-main/images/donation7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 5px 5px 5px rgb(31, 30, 30);
  color: white;
}
.btn-primary {
  color: whitesmoke;
  background-color: orangered;
  font-size: 25px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  padding: 15px 25px;
}

.price-container {
  background-color: #fafafa;
  height: 200px;
  width: 200px;
  margin: 40px;
  color: #707070;
  border-radius: 10px;
}
#regular-price {
  color: #ff5959;
  background-color: #ffeeee;
  border: 3px solid #ff5959;
  border-radius: 10px;
}
#customized-input-field {
  height: 40px;
  border: none;
  width: 800px;
  border-bottom: 2px solid #707070;
  text-align: center;
}
.plan-container {
  background-color: #fafafa;
  text-align: left;
  height: 400px;
  width: 400px;
  margin: 40px;

  border-radius: 10px;
}
#food-bg {
  background-color: #4f9da66d;
}
#shelter-bg {
  background-color: #ff595967;
}
#edu-bg {
  background-color: #fff4d6;
}
.plan-details {
  margin: 0 20px;
}
.plan-details img {
  margin: 9% 20px;
}
.half-width {
  width: 50%;
  text-align: left;
  margin-left: 10%;
}
